.mainBackground {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: var(--paper);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: clamp(320px, 50%, 480px);
    padding: 25px;
    border-radius: 15px;
    box-shadow: -3px -3px 10px var(--shadow-left), 3px 3px 10px var(--shadow-right);
}