:root {
    --paper: #E3E5EA;
    --ink: #333;
    --shadow-left: #FAFCFF;
    --shadow-right: #C8CAD0;
    --success: #070;
    --error: #900;
}

[data-theme="dark"] {
    --paper: #151519;
    --ink: #EEE;
    --shadow-left: #202025;
    --shadow-right: #020205;
    --success: #9F9;
    --error: #F99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
}

*:focus {
    box-shadow: inset -1px -1px 5px var(--shadow-left), inset 1px 1px 5px var(--shadow-right);
    outline: none;
}