:root {
    --paper: #E3E5EA;
    --ink: #333;
    --shadow-left: #FAFCFF;
    --shadow-right: #CDCFD5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
}